*, html{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #f3f3f3;
}

.container{
    background: url("images/success.jpg");
    background: url(images/success.jpg);
    background-size: contain;
    padding: 0px;
    border-radius: 10px;
    margin-top: 50px;
}


.inner-wrapper{
    background: black;
    height: 90vh;
    width: 58%;
    color: white;
    padding: 1rem;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}

.inner-wrapper h1 {
    text-align: center;
    margin-bottom: 2rem;

}

.inner-wrapper h3 {
    text-align: center;
    margin-bottom: 2rem;
    
}

.inner-wrapper ul{
    list-style: none;
    position: relative;
}

.inner-wrapper ul li {
    margin-bottom: 1rem;
    border-left: 5px #ff0606 solid;
    padding: 10px;
    background: grey;
    position: relative;
}

.inner-wrapper ul li:hover{
    border-left: 5px rgb(146, 13, 13) solid;
}

.title{
    padding: 25px;
}

.delete{

    margin-top: -10px;
    margin-right: -3px;
    padding: 10px;
    background: red;
    border-radius: 5px;
    color:white;
    position: absolute;
    right: 0;
}

.delete:hover {
    background: rgb(146, 13, 13); 
}

.myform {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    bottom: 0;
}

.submitbutton{
    margin-top: 10px;
}